<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>    
    <script src="../js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="../js/jquery.easing.min.js"></script>
  <script type="text/javascript" src="../js/jquery.easy-ticker.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">    
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- two -->

    <link href="../img/favicon-1.ico" rel="shortcut icon"/>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="../css/flaticon.css"/>
	<link rel="stylesheet" href="../css/slicknav.min.css"/>
	<link rel="stylesheet" href="../css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="../css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="../css/animate.css"/>
	<link rel="stylesheet" href="../css/style1.css"/>
	<link rel="stylesheet" href="../css/stylemakehands.css">
	<link rel="stylesheet" type="text/css" href="../css/style-1.css">  
  <script src="../../ckeditor/ckeditor.js"></script>

	<style>
		div#headDiv{
			height: 78px;
			background-color: #d9534f;
		}
		span.beforePic{
			color : white;
		}
		.header-logo{
			text-align: center;
		}
		a.textHover h5:hover{
			text-decoration: none;
			color: red;
			cursor: pointer;
		}
		img:hover {
         opacity: 0.5;
         filter: alpha(opacity=50);   
         }
		span.ctg {
			color: black;
			font-size: 17px;
			font-weight: bold;
  			font-family: "Arimo", sans-serif;
  		} 
  		.body-color{
  			background: #f0f1f4;
  		}
  		.header-color{
  			background: #fff;
  		}
  		.ts-grid-box {
  			position: relative;
  			margin-bottom: 30px;
  			padding: 30px;
  			background: #fff;
  			-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
  			box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
  		}
  		.ts-grid-box.ts-category-title {
  			padding: 15px 27px;
  			background: #0a4a7a;
  		} 
  		.ts-grid-box.ts-category-title .ts-title {
  			margin-bottom: 0;
  		} 
  		.ts-title {
  			margin-bottom: 25px;
  			position: relative;
  			background: #0a4a7a;
  			color: ghostwhite;
  			font-size: 20px;
  			line-height: 21px;
  			font-family: proxima-nova,Helvetica,Arial,sans-serif;
  			letter-spacing: .04em;
  		}
  		.float-left {float: left!important;
  		} 

	</style>
</head>
<body class="body-color">
	<section>
    <div class="container-fluid" style="background-color: black">
      <div class="row">
        <div class="col-md-12 align-self-center">
          <div class="header-logo">
            <a href="#">
              <img src="../images/logo/logoAdmin.png" alt="logo" width="400" height="110">
              
            </a>
           </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <header class="header-color">
    <nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img src="../logo1.jpg" alt="TTS News" width="55px" height="55px" style="margin: -30% -30% -30% -30%">
      </a>
    </div>
    <button class="navbar-toggler btn-danger active" type="button" data-toggle="collapse" data-target="#navHeaderCollapse" >
        <span class="navbar-toggler-icon">
        	
        </span>
     </button>
      <div class="collapse navbar-collapse" id="navHeaderCollapse">
     <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown style1">
            <a class="nav-link dropdown-toggle" href="../profile/index">
              <span class="ctg">TÀI KHOẢN</span></a>          
            <div class="dropdown-menu layer2a bg-dark" >
              <a class="dropdown-item text-white" href="../profile/index">Profile</a>
            </div>
        </li>      
    </ul>
  </div>
    

    <ul class="nav nav-tabs ml-auto bg-primary">
        
        <li class="nav-item dropdown style5">
              <a class="nav-link dropdown-toggle" href="">
              	<i class="fa fa-user" aria-hidden="true"></i> 
                <span style="color: #C4FFFFFF; font-size: 18px;">{{userName}}</span></a>          
              <div class="dropdown-menu layer2e bg-dark" >
                <a class="dropdown-item text-white" href="../profile/index">Cài đặt</a>
                <a class="dropdown-item text-white" href="/log-out">Đăng xuất</a>
              </div>
            </li> 
    </ul>
  </div>
</nav>
</header>  

{{{body}}}


 
<div class="phan-trang" style="font-weight: bold; font-size: 18px;">
                <ul class="pagination justify-content-center" style="margin:50px 0">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
        </div>
  <script type="text/javascript">
    $(document).ready(function(){
      var dd = $('.vticker').easyTicker({
        direction: 'up',
        easing: 'easeInOutBack',
        speed: 'slow',
        interval: 2000,
        height: 'auto',
        visible: 1,
        mousePause: 0
      }).data('easyTicker');  
    });
    </script>
  <script src="../js/bootstrap.min.js"></script>

  <!--====== Javascripts & Jquery of Two======-->
	
	<script src="../js/jquery.min.js"></script>
	<script src="../js/jquery.slicknav.min.js"></script>
	<script src="../js/owl.carousel.min.js"></script>
	<script src="../js/jquery.nicescroll.min.js"></script>
	<script src="../js/jquery.zoom.min.js"></script>
	<script src="../js/jquery-ui.min.js"></script>
	<script src="../js/main.js"></script>
  <script src="../js/popper.min.js"></script>
  <script src="../js/script.js"></script>

</body>
</html>