/* bản tin */
img{
    width: 410px;
    height: 240px;
}


/* phân trang */
.phan-trang nav{
    display: flex;
    justify-content: center;
}

.phan-trang{
    margin-top: 35px;
}

/* footer */
.fter {
    margin-top: 10px;
}

/* icon user */
.fa-user{
    margin-top: 12px;
}
