div#headDiv{
      height: 78px;
      background-color: #d9534f;
    }
    span.beforePic{
      color : white;
    }
    .header-logo{
      text-align: center;
    }
    a.textHover h5:hover{
      text-decoration: none;
      color: red;
      cursor: pointer;
    }
    a.textHover1 h4:hover{
      text-decoration: none;
      color: red;
      cursor: pointer;
    }
    img:hover {
     opacity: 0.5;
      filter: alpha(opacity=50);   /* For IE8 and earlier */
    }
    span.ctg {
      color: black;
      font-size: 17px;
      font-weight: bold;
        font-family: "Arimo", sans-serif;
      }
      .body-color{
        background: #f0f1f4;
      }
      .header-color{
        background: #fff;
      }
      .ts-grid-box {
        position: relative;
        margin-bottom: 30px;
        padding: 30px;
        background: #fff;
        -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
  /*.post-content{
        padding: 20px;
        background: $white-color;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.08);
      }*/
      }
      .ts-grid-box.ts-category-title {
        padding: 18px 30px;
        background: #0a4a7a;
      }
      .ts-grid-box.ts-category-title .ts-title {
        margin-bottom: 0;
      }
      .ts-title {
        margin-bottom: 25px;
        position: relative;
        background: #0a4a7a;
        color: ghostwhite;
        font-size: 15px;
        line-height: 17px;
        font-family: proxima-nova,Helvetica,Arial,sans-serif;
        letter-spacing: .04em;
      }
      .float-left {float: left!important;
      }