
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px; }
 a, a:hover, a:focus {
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms;
      text-decoration: none;
      outline: 0 solid transparent; }  
.div1{
    margin-top: 100px;
    margin-left: 9%;
    margin-right:33%;
}
.div2{
    margin-top: 25px;
}
.title1{
    position: relative;
    height: 38px;
    text-align: center;
    padding: 0 20px;
    width: 19%;
    margin-left:0;
    background-color: #ffc107;
}
.div1 .title1 p{
    margin-bottom: 0;
    font-weight: 550;
    color: #fff;
    line-height: 38px;   
}
.title2{
    position: relative;
    height: 38px;
    text-align: center;
    padding: 0 20px;
    width: 19%;
    margin-left:0;
    background-color: #343a40;
}
.div1 .title2 p{
    margin-bottom: 0;
    font-weight: 550;
    color: #fff;
    line-height: 38px;   
}
.vticker{
    width: 100%;
    position: relative;
    background-color: #f3f5f8;
    padding: 0 20px;
}
.div1 .vticker ul{
   width:100%;
    position: relative;
}
.div1 .vticker ul li{
	list-style: none;
    width: 100%;
}
.div1 .vticker ul li a{
    color: #343a40;
    height: 38px;
    line-height: 38px;
    font-weight: 550;
}
.div1 .vticker ul li a:hover, .div1 .vticker ul li a:focus{
    color: #ffc107;
}
/* Section Heading */
.section-heading {
    margin-top: 50px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #d0d5d8; }
.section-heading h6 {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 45px;
     height: 45px;
     min-width: 140px;
    padding: 0 30px;
    background-color: #ffc107;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    text-align: center; 
}
.post-thumb{
    margin-top: 20px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.img-container {
    transition: transform .1s ease;
  }
  
  .img-container:hover {
    transform: scale(1.1);
  }
  .post-thumb img {
    width: 100%;
    opacity: 1;
    transform: translate(0,0);
    transition: opacity .25s ease-in-out;
  }
  .post-thumb img:hover {
    opacity: .7;
  }
.post-category {  
    padding-top: 15px;  
    padding-bottom: 15px;  
    font-size: 14px;
}
.post-category i{
    margin-left: 10px;
    float:right;
    color: rgb(146, 143, 143);
     
}
.post-category span{
    float: right;
    margin-left: 8px;
    color: rgb(146, 143, 143);
    display: flex; 
}
.post-category a{
    text-transform: uppercase;
    font-weight: 700;
    color: #ffc107;
}
.post-title h6{
    font-size: 18px;
    color: #343a40;
}
.post-title h6:hover, .post-title h6:focus{
    color: #ffc107;
}
.div3{
    margin-left: 9%;
    margin-right: 9%;
    display:flex;
}
.post-title h4{
    color: #343a40;
}
.post-title h4:hover, .post-title h4:focus{
    color: #ffc107;
}
.post-title p{
    font-size: 15px;
}
.marr {
    margin-right: 2%;
}
.marl{
    margin-left: 2%;
}
.div4{
    width:73%;
    margin-left:0%;
}
.div5{
    margin-left: 5%;
    width: 23%;
    position: relative;
    margin-top:6%;
}
.top10Categories{
    width: 100%;
    height: auto;
    background-color: #343a40;
    top: 15%;
    position: -webkit-sticky;
    position:sticky;
}
.div5 .top10Categories h6{
    border-bottom: 1px solid #d0d5d8;
    font-size: 20px;
    padding: 10% 13%;
    color: #ffc107;
    font-weight: 700;
}
.top10{
    padding-top:8%;
}
.div5 .top10Categories a.number{
    color: #ffc107;
    margin-left: 12%;
    font-weight: 550;
}
.div5 .top10Categories a:hover, .div5 .top10Categories a:focus{
    color: #ffc107;
    font-weight: 550;
}
.div5 .top10Categories a.cate{
    color: #fff;
    margin-left: 11%;
    font-weight: 550;
}
.div5 .top10Categories a.cate:hover, .div5 .top10Categories a.cate:focus{
    color: #ffc107;
    font-weight: 550;
}